@font-face {
    src: url('resources/fonts/hk-grotesk.regular.ttf');
    font-family: HKGroteskPro, sans-serif;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .display-5 {
        font-size: ;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .display-5 {
        font-size: ;
    }
}